html:has(.toggle__checkbox:checked) {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --color-box2-img: var(--color-green);
  --color-link-bg: var(--color-green);
  --color-grey: #080808;
  --color-input-border: var(--color-white);
  --invert-filter: 1;
  --invert-filter-hover: 0;
}

html:not(:has(.toggle__checkbox:checked)) {
  --invert-filter: 0;
  --invert-filter-hover: 1;
}
